* {
	background-alt:		#282828ff;
	background:			#22222200;
	selected:			#a89984ff;
	foreground:			#d6b785ff;
	border:				#d6b785ff;
	border-alt:			#fabc2eff;
	urgent:				#cc251cff;
	cyan:				#699d6bff;
}
